/**
 * Theme:  Kronos-WP (child theme)
 * Template: Ondernemerstest
 * Text Domain: Kronos-WP child
 *
*/

/* IDEECHECK TEMPLATE */
#ideecheck-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .8;
    z-index: 900;
}
#ideecheck-contact-form {
    position: fixed;
    z-index: 950;
    width: 420px;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    top: 100px;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#ideecheck-contact-form .inner {
    padding: 30px;
    border: 15px solid #35576f;
    text-align: center;
}
#ideecheck-contact-form input[type="text"], #ideecheck-contact-form input[type="email"] {
    background-color: #eaedf2;
    max-width: 80%;
    text-align: center;
}
#ideecheck-contact-form h1 {
    text-transform: uppercase;
    font-size: 22px;
    font-size: 2.2rem;
}
#ideecheck-contact-form .contact-form label {display: none;}
#ideecheck-contact-form .description, 
#ideecheck-contact-form h1
{
    margin-bottom: 20px;
    margin-bottom: 2rem;
}
#ideecheck-contact-form .contact-submit {margin: 0;}

.quiz_section {
    font-family: Lekton, Verdana;
    font-size: 30px;
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 60px;
    padding-top: 6rem;
    background-image: url(images/ideecheck_arrow_down.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.quiz_section.slide1 {background: 0; padding-top: 0;}
.quiz_section * {font-family: inherit; font-size: inherit; font-weight: inherit; text-transform: inherit;}
.mlw_qmn_question {
    border: 4px solid #fff; 
    padding: 40px 15%; 
    padding: 4rem 15%; 
    display: block; 
    text-align: center;
    line-height: 1.1;
}
.mlw_qmn_question p {font-size: inherit; margin: 0; text-align: center !important;}
.qmn_radio_answers {text-align: center; margin-top: 20px; margin-top: 2rem;}
.qmn_mc_answer_wrap {
    font-size: 20px;
    font-size: 2rem;
    text-align: left;
}

input.qmn_quiz_radio {
    display:none;
}
input.qmn_quiz_radio + label {
    padding-left: 43px;
    background-image:url(images/ideecheck_input_radio.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left top;
    cursor:pointer;
}
input[type="radio"]:checked + label {
    background-image:url(images/ideecheck_input_radio_checked.png);
}
.mlw_qmn_quiz_link, .mlw_qmn_hint_link {display: none !important;}
