/**
 * Theme Name:  Kronos-WP (child theme)
 * Version:     1.0.0
 * License:     GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Template: Kronos-WP
 * Text Domain: Kronos-WP
 * Domain Path: /languages/
 *
 */
/* Add your custom styles below. */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: Ubuntu, Helvetica, Arial;
    word-wrap: break-word;
}

html {font-size: 62.5%;}

body {font-size: 16px; font-size: 1.6rem; line-height: 1.5; letter-spacing: .03em; font-weight: 100;}

p, label {font-size: 16px; }

body.home .section {position: relative;}
.section {overflow:hidden;}

span.section-anchor {position: absolute; top: -80px; display:block;}

div.content-960 {max-width: 970px; padding-top: 70px; padding-bottom: 10px;}

body.single .content-960, body.page .content-960 {max-width: 800px;}

body.single h2, body.single .modal h2, body.page h2, body.page .modal h2 {
    display: inline-block;
    color: #35576f; 
    text-transform: uppercase; 
    font-size: 20px;
    font-size: 2rem;
    border-bottom: thin solid #35576f;
    padding-bottom: 2px;
    margin-bottom: 20px;
    margin-bottom: 2rem;
}
p, body.single article ul, body.page article ul {margin-bottom: 20px; margin-bottom: 2rem;}
body.single article p + ul, body.page article p + ul {margin-top: -20px; margin-top: -2rem;}
body.single article ul li, body.page article ul li {
    padding-left: 25px;
    background-image: url(images/list_vinkje.png);
    background-image: url(images/list_vinkje.svg);
    background-repeat: no-repeat;
    background-position: left 5px;
    background-size: auto 12px;
    margin-left: 5px;
    text-align: left;
}

.two-columns {
    column-count: 2; 
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-width: 50%;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
}

.modal h3, .section h3 {font-weight: 100; line-height:1.1;}

.modal p {padding: 0;}

article {font-size: initial;}

article .article-content h1 {text-align: inherit;}

img {max-width: 100%; height: auto;}

::selection {
  background: #fddd00;
  color: #35576f;
}
::-moz-selection {
  background: #fddd00;
  color: #35576f;
}

.style_light {color: #fff;}
.style_dark {color: #000;}
.style_light a, .style_dark a {
    padding: 0 3px; 
    //display: inline-block; 
    font-family: inherit;
}
a {text-decoration: none;}
article a {text-decoration: underline; color: #000; } 
.style_light a {background-color: #ffffff; color:#000;}
.style_dark a {background-color: #7d9fad;   color: #000; }
a.no-background-color {background-color: transparent;}

p.info {
  font-family: inherit;
  font-style: normal;
  font-size: 22px;
  font-size: 2.2rem;
  letter-spacing: .03em;
  line-height: 2;
  text-align: center;
  margin: 5rem 0;
  font-weight: 100;
}

span.quote, span.emphasized {
  display: inline-block;
  font-family: Lekton, Verdana;
  font-size: 40px;
  font-size: 4rem;  
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  text-align: center;
  padding: 0px 16%;
  font-weight: 100;
  margin: 1rem 0;
}
span.emphasized {
    font-size: 20px; 
    font-size: 2rem; 
    padding: 0;
    border: 0;
    text-align: left;
}
span.quote.full_width {padding: 0;}

span.edit-link {display: block; position: absolute; margin-top: -30px;}

.fa {
  color: #fff;
  background-color: #000;
  width: 20px;  
  height: 20px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 1.7;
  font-size: 13px;  
}
.fa.fa-facebook {
  background-color: #92c4af;
}
.fa.fa-linkedin {
  background-color: #9ab9be;
}
.fa.fa-twitter {
  background-color: #76c3ab;
}

.widget-title {
  text-transform: uppercase;
  font-size: 16px !important;
  font-size: 1.6rem !important;
  font-weight: bold !important;
}

.contact-form label + br {display:none;}
.contact-form input, .contact-form textarea {
    font-family: Lekton, Verdana;
    background-color: #fff; 
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 30px !important;
}
.contact-form label {font-weight: 100;}
.contact-form textarea {min-width: 350px;}
.contact-form input, .contact-form button {width: initial;}
.contact-form input[type="submit"] {background-color: #000; color: #fff; padding: 20px 20px; cursor:pointer;}

div.main-menu nav {
    padding: 0; 
    max-width:990px;
    height: 60px;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    position: relative;
    background-color: transparent;
} 
div.main-menu {height: 0; position:fixed; z-index: 900;}
body.sticky-mode .main-menu {height: 80px;}
div.main-menu::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: -1;
}
.sticky-mode div.main-menu::after {background-color: #f0f0f0;}

div.main-menu nav ul {margin-top: 7px; }
div.main-menu nav ul li a {padding: 0; color: #35576f; }
div.main-menu nav ul li.active a {color: #62a6a5;}
div.main-menu nav ul li a:hover {color: #528aaf;}

/* disable small menu switch */
select.small_menu {display: none !important; }
div.main-menu nav ul#menu-custom_menu {display: block !important; }

nav.main-menu-container aside {width: 100% !important;}
.admin-bar .main-menu {
  margin-top: 30px;
}

.main-menu ul.sub-menu {display:none; position: absolute; left: 0;}
.main-menu li.menu-item-has-children:hover > ul {display:block;}

div.main-menu ul.sub-menu li {width: 100%;}
div.main-menu nav ul li {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 24px;
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: .04em;
}
div.main-menu ul#menu-sticky li {
    font-size: 11px;
    font-size: 1.1rem;
}
div.main-menu ul#menu-sticky li {padding: 10px 10px; }
.main-menu nav ul.menu-subitem li, 
div.main-menu ul#menu_custom_menu > li:first-child, 
div.main-menu ul#menu-sticky > li:first-child 
{padding-left: 10px;}

div.main-menu nav.sticky-menu-container ul.menu-subitem {margin: 0;}

nav.main-menu-container ul li:last-child {float: right; border:3px solid #87d1cf; margin-right:10px; letter-spacing:.1em;background-color: #fff; }

nav.sticky-menu-container > * {display: block; float:left;}
nav.sticky-menu-container .menu { float:left; z-index: 20; }
nav.sticky-menu-container .contact-buttons { right:0; position: absolute; z-index: 30; text-align: right; }
nav.sticky-menu-container .logo-slogan {
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width:90%; 
    text-transform: uppercase; 
    font-family: Lekton, Verdana;
    font-size: 11px;
    font-size: 1.1rem;
    padding-top: 45px;
    background-image: url(images/dejuistekoers_mannetje_50x45.png);
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    color: #000;
    font-weight: bold;
}
nav.sticky-menu-container #menu-sticky {
    position: absolute;
    left: 0;
}
div.main-menu nav li.sticky-menu-button { padding-top: 0px; }
li.sticky-menu-button:hover #menu-sticky {
    display: block;
}
.sticky-menu-button-text {
    text-transform: uppercase;
    cursor: pointer;
}
#menu-sticky li {
    display: inline-block;
    background-color: #f0f0f0;
}
nav.sticky-menu-container .contact-buttons .inner { padding-right: 10px; }
nav.sticky-menu-container .contact-buttons ul li {padding: 0 5px; /* border-right: 2px solid #35576f; */ margin:0; display:inline-block; vertical-align: middle; line-height: 1;}
nav.sticky-menu-container .contact-buttons ul li:last-child {border-right: 0; }

.sticky-mode nav.main-menu-container {display:none; }
div.main-menu nav.sticky-menu-container {
    height:0 !important;
    opacity: 0; 
    top:-140px;
    color: #35576f; 
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.sticky-mode div.main-menu nav.sticky-menu-container {
    height: auto !important;
    padding: 10px 0;
    opacity: 1;
    top:0;
}

header.page-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 45px;
}

.title-description {padding: 0;}
header.page-title .page-title, header.page-title .title-description {
    color: #000;
    text-transform: uppercase;
    font-family: inherit;
    font-style: normal;
    letter-spacing: 0.03em;
    font-weight: 100;
    padding: 0 30px;
    padding: 0 3rem;
}
header.page-title .page-title {
    font-weight: 300;
    font-size: 32px;
    font-size: 3.2rem;
    padding: 0;
}
.diensten header.page-title .page-title, .diensten header.page-title .title-description {color: #35576f; } 
.section-1 .page-container {padding-top: 50px;}
.post-855 header.page-title {
    background-image: 
        url(images/dejuistekoers_homepage_slogan_bg_top.png),
        url(images/dejuistekoers_homepage_slogan_bg_bottom.png);
    background-image: 
        url(images/dejuistekoers_homepage_slogan_bg_top.png),
        url(images/dejuistekoers_homepage_slogan_bg_bottom.png);
    background-position: top center, bottom center;
    background-size: 100% auto, 100% auto;
    background-repeat: no-repeat, no-repeat;
    padding: 200px 0 30px 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.post-855 header.page-title .page-title {display: none;}
.post-855 header.page-title .title-description {
    font-family: Lekton, Verdana;
    text-transform: uppercase;
    font-style: normal;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 100 !important;
}
header.page-title .title-description {
    font-size: 46px;
    font-size: 4.6rem;
    font-weight: bold !important;
    line-height: 1;
    word-wrap: break-word;
}

.post-855 div.content-960 {padding-top: 26px;}

.post-855 p.info::before, 
.post-855 p.info::after, 
.post-1365 .quote::after, 
.post-1365 .quote::before,
.testimonial.panel-widget-style .textwidget p:first-child::after,
.testimonial.panel-widget-style .textwidget p:first-child::before {
    content: " ";
    display:inline-block;
    width: 46px;
    width: 4.6rem;
    height: 46px; 
    height: 4.6rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 25px;
    vertical-align: bottom;
}
.post-855 .info::after {background-image: url(images/coffee_46x46.png); margin-right: 0;}
.post-855 .info::before {background-image: url(images/koers_45x45.png); margin-left: 0;}

.testimonial.panel-widget-style .textwidget p:first-child,
.testimonee.panel-widget-style .textwidget p:first-child
{
  font-size: 2.2rem;
  padding: 0 10%;
  color: #666565;
}
.testimonee.panel-widget-style .textwidget p:first-child {
  font-family: Lekton, Verdana;
  padding-top: 25px;
}

.testimonial.panel-widget-style .textwidget p:first-child {position: relative; padding-top:25px; padding-bottom:25px; margin-bottom: 0;}
.testimonial.panel-widget-style .textwidget p:first-child::after,
.testimonial.panel-widget-style .textwidget p:first-child::before {
    position: absolute;
}
.testimonial.panel-widget-style .textwidget p:first-child::after {
    background-image: url(images/dejuistekoers_icon_quotation_mark_end.png); 
    margin:0;
    width: 74px;
    width: 7.4rem;
    right: 4%;
    bottom: 0; 
}
.testimonial.panel-widget-style .textwidget p:first-child::before {
    background-image: url(images/dejuistekoers_icon_quotation_mark_start.png); 
    margin-left:0;
    width: 74px;
    width: 7.4rem;
    left: 3%;
    top: 0;
}
.post-1706 .entry-content {position: relative;}
.testimonials_pagination {position: absolute; top: 40%; width: 100%;}
.testimonials_pagination .prev, .testimonials_pagination .next {
    display: block; 
    float: left;
    width: 60px; 
    width: 6rem; 
    height: 60px;
    height: 6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/dejuistekoers_arr_prev.png);
    background-color: transparent;
    text-indent: -9999em;
}
.testimonials_pagination .next {background-image: url(images/dejuistekoers_arr_next.png); float: right; margin-right:-40px;}
.testimonials_pagination .prev {margin-left:-40px;} 

.post-1365 .quote::after {
    background-image: url(images/flag.png);
    position: relative;
    top: +25px;
    height: 63px;
    height: 6.3rem;
    width: 53px;
    width: 5.3rem;
    margin-right: 0;
}
.post-1365 .quote::before {
    background-image: url(images/druppel.png); 
    position: relative; top: -25px;
    height: 51px;
    height: 5.1rem;
    margin-left: 0;
}

#work-items .diensten-item {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 240px;
    margin-right: 65px;
}
.diensten-item .diensten-item-title a, .diensten-item .photo-holder a {padding:0; background-color:transparent;}
.diensten-item .more-link {display:none;}
.diensten-item div.photo-holder { background-color:#eaedf1; }
.diensten-item .diensten-item-title a {font-weight: bold;}
.diensten-item .diensten-item-title {
  font-size: 26px !important;
  font-size: 2.6rem !important;
  text-transform: uppercase;
  font-family: Lekton;
  line-height: 1;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.diensten-item section .entry-content {
    width: 62%;
    text-align: center;
    margin: 0 auto;   
    font-size: 12px;
    color: #666565;
    padding: 10px 0;
    border-top: 2px solid #a3a3a3;
    border-bottom: 2px solid #a3a3a3;
}

.post-891 p.info {text-align: right;}
.post-891 .entry-content {text-align: right;}

.post-1479 .panel-grid-cell:first-child {border-right:1px solid #eee;}
.post-1479 .panel-grid-cell:last-child {border-left:1px solid #eee; margin-left:-1px;}

.diensten-item .entry-button {
  text-align: center;
  margin-top: 10px;
}

a.button, .ow-button-base a {
  display: inline-block !important;
  text-transform: uppercase;
  line-height: 1 !important;
  padding: 10px 5px;
  font-family: Lekton, Verdana !important;
  font-weight: normal;
  color: #fff;
  letter-spacing: .05em !important;
  border-radius: 3px !important;
  background: #62a6a5 !important;
  font-size: 19px !important;
  font-size: 1.9rem !important;
  position: relative;
  border: 0 !important;
}
.ow-button-base a .sow-icon-image {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 !important;
  padding: 0 !important;
  width: 50px !important;
  z-index: 10;
  height: 100% !important;
  background-size: auto 100% !important;
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center center;
}

.ow-button-base span {font-family: Lekton, Verdana;}

a.diensten-button, .ow-button-base a {  
  padding: 14px 50px 10px 20px !important;
  padding-right: 60px !important;
}
a.diensten-button::after {
  content: " ";
  display: block;
  position: absolute;
  width: 45px;
  height: 100%;
  right: 0;
  background-color: #ddd;
  background-size: cover;
  top: 0;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
}

#news-items li {
  min-width: 300px;
  width: 45%;
  float: left;
  max-width: 45% !important;
  padding: 0 2.5%;
  text-align: left;
}

#news-items li .inner {
  padding: 20px 0;
  background-color: #fff;
  border-radius: 0 15px 0 0;
  -webkit-border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  -ms-border-radius: 0 15px 0 0;
}
#news-items li header * {
    font-family: Lekton, Verdana;
}
#news-items .entry-category, #news-items .entry-title, #news-items .blog-front-content {padding: 0 20px;}
#news-items .entry-category {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
}
#news-items .entry-title {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 20px 0;
}
#news-items .entry-thumbnail {
  min-height: 220px;
  min-height: 22rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;
}
#news-items .entry-thumbnail .date {
    position: absolute;
    bottom: 0;
}
#news-items a.read-more-link {
    background-color: transparent;
    padding: 0;
    color: #62a6a5;
}
#news-items a.read-more-link::after {content: "\2192";}
#blog-pagination a {
    background-color: transparent;
}

#go-up-button {
    position: absolute;
    right: 30px;
    bottom: 50px;
    background-image: url(images/dejuistekoers_icon_up.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 62px;
    height: 62px;
    z-index: 100;
    cursor: pointer;
}

/* SINGLE POST */
.dryThemePopupHolder {position: relative; z-index: 100;}
.modal {width: 820px;}
article .article-content {padding: 50px 0;}
article .article-content, .popup-close, .posts-navigation, .comments-holder, .comments-pagination-wrapper, div.pop-up-footer {background-color: transparent;}
body.single, body.page {color: #000;}

/* FOOTER */
body.single footer, body.page footer {border-top: 5px solid #35576f; }
footer .content-960 {
    padding-top: 40px;
    font-family:Lekton, Verdana;
    background-image:url(images/koers.png);
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: auto 80px;
}
body.single footer .content-960, body.page footer .content-960 {background-size: auto 40px; background-position: center 70px;}
footer .widget {width: 50%; display: inline-block;}
footer p {margin: 30px 0; margin: 3rem 0; font-family: Lekton, Verdana; font-size: 15px; font-size: 1.5rem;}

@media screen and (max-width: 840px) {
    html {font-size: 52.5%;}
    .panel-grid-cell {border: 0 !important;}
    article p {text-align: left !important;}
    article p.info {text-align: center !important;}
    .post-855 header.page-title {padding-top: 100px;}
    .testimonial.panel-widget-style .textwidget p:first-child {position: relative; padding-top:40px; padding-bottom:40px; margin-bottom: 0;}
    .testimonial.panel-widget-style .textwidget p:first-child::before {
        margin-left: -20px;
        top:0;
    }
    .testimonial.panel-widget-style .textwidget p:first-child::after {
        margin-bottom: -20px;
    }
    #news-items li {float: none !important; width: 100% !important; min-width: 95%;}
    footer .content-960 {background-size: auto 40px; background-position: center bottom; padding-top: 0; padding-bottom: 50px; }
    footer p {margin: 0;}
    footer .widget {width: 100%; }
    .contact-form textarea {min-width: initial;}
}

@media screen and (min-width: 841px) {
    .diensten-item:nth-child(4) {
        width: 490px !important;    
        min-height: 200px !important;
    }
    .diensten-item:nth-child(4) header, .diensten-item:nth-child(4) section {
        width: 50%;
        float: right;
    }
    .diensten-item:nth-child(4) div.photo-holder {max-width: 240px !important; float: left;}
}

@media screen and (max-width: 640px) {
    div.content-960 {padding-top: 20px; width: 500px;}
    html {font-size: 38%; }
    #go-up-button {right: 0;}
    footer p {font-size: 12px;}
    .post-855 p.info::before, .post-855 p.info::after {width: 26px; width: 2.6rem; height: 26px; height: 2.6rem;}
    
    .two-columns {-webkit-column-count: 1;-moz-column-count: 1; column-count: 1;}
    
    /* sticky menu */
    .menu-sticky-menu-container {
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
        background-image: url(images/responsive-menu-button.png);
        background-image: url(images/responsive-menu-button.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        width: 40px;
    }
    nav.sticky-menu-container .menu {position: relative; width:100%;}
    nav.sticky-menu-container .contact-buttons {position: absolute; right:0; }
    .menu-sticky-menu-container.opened {width:auto;}
    #menu-sticky {display: none; top: 60px; background-color: #eee;}
    .menu-sticky-menu-container.opened #menu-sticky {display: block; position: absolute; text-align: center;}
    .main-menu #menu-sticky li {text-align: left;}
    div.main-menu ul#menu-sticky li {margin: 0; padding: 10px 5px; }
    .main-menu #menu-sticky li:last-child > ul.sub-menu { left: -100%; }
    .main-menu #menu-sticky li:last-child > ul.sub-menu li {text-align: right;}
}

@media screen and (max-width: 423px) {
    div.content-960 {width: 90%;}
    #go-up-button {display: none;}
    h1, h2, h3, h4, p {padding-left:0 !important;}
    h1.title-description {padding: 0 30px !important; padding: 0 3rem !important; }
    .post-855 header.page-title {background-size: auto 90px, 100% auto; width:auto; }
    div.main-menu nav ul li {padding: 10px 10px;}
    #contact-button-fb, #contact-button-twitter {display: none;}
    nav.sticky-menu-container .logo-slogan {
        background-size: 30px;
        padding-top: 35px;
    }
}